:root {
  --purple-hsl: 209, 60%, 60%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.2);
  --scrollbar-color: #ddd;
}

:root[data-theme="light"] {
  --purple-hsl: 209, 85%, 65%;
  --sl-color-text-accent: #228be6;
  --sl-color-banner-bg: #228be6;
}

:root[data-theme="dark"] {
  --sl-color-text-accent: #228be6;
  --sl-color-banner-bg: #228be6;
}

/* logo */

.site-title {
  gap: 5px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.site-title img {
  width: 32px;
  height: 32px;
}

html[data-theme="light"] .site-title {
  color: black;
}

html[data-theme="dark"] .site-title {
  color: white;
}

/* scrollbar */

* {
  scrollbar-color: var(--scrollbar-color) transparent;
  scrollbar-gutter: stable;
}

/* scroll-to-top */

#scroll-to-top-button {
  accent-color: var(--sl-color-text-accent);
  background-color: var(--sl-color-text-accent);
}
