:root {
  --purple-hsl: 209, 60%, 60%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.2);
  --scrollbar-color: #ddd;
}

:root[data-theme="light"] {
  --purple-hsl: 209, 85%, 65%;
  --sl-color-text-accent: #228be6;
  --sl-color-banner-bg: #228be6;
  /* --sl-color-bg-inline-code: #228be6; */
}

:root[data-theme="dark"] {
  --sl-color-text-accent: #228be6;
  --sl-color-banner-bg: #228be6;
  /* --sl-color-bg-inline-code: #228be6; */
}

/* Scrollbar */

* {
  scrollbar-color: var(--scrollbar-color) transparent;
  scrollbar-gutter: stable;
}

/* Markdown heading links. */

.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a {
  color: var(--sl-color-white);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

article.card {
  border-radius: 15px;
}

/* Scroll-to-top button */

#scroll-to-top-button {
  accent-color: var(--sl-color-text-accent);
  background-color: var(--sl-color-text-accent);
}
